/* page */
@use '../settings' as *;

@layer cpkmstyles {


  .logo {
    background-color: var(--clr-headerbg);
    //width: min(300px, 18vw);
    width: clamp(150px, 18vw, 300px);
    left: 1rem;
    grid-column: 1;
    border-radius: var(--border-radius);
  }

}
