<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/Friendsoftypo3/ContentBlocks/ViewHelpers">

<f:asset.css identifier="cplicdogs" href="{cb:assetPath()}/frontend.css" />

<div class="cplicdogslist">
    <f:if condition="{data.header}">
        <f:cObject
            typoscriptObjectPath="tt_content.header"
            data="{data}"
            table="tt_content"
        />
    </f:if>
    <div class="licdogs">
        <f:if condition="{licdogs}">
            <f:then>
                <f:variable name="variety">{licdogs.0.data.p_variety}</f:variable>
                <f:for as="dog" each="{licdogs}" iteration="i-licdogs">
                    <f:if condition="({variety} == {dog.data.p_variety}) && ({i-licdogs.index} == 0) "><h3 class="h3 licdogs--devider">Museau Normale</h3></f:if>
                    <f:if condition="({variety} == {dog.data.p_variety}) && ({i-licdogs.index} > 0) "></f:if>
                    <f:if condition="({variety} != {dog.data.p_variety})"><h3 class="h3 licdogs--devider">Face Rase</h3>
                        <f:variable name="variety">{dog.data.p_variety}</f:variable>
                    </f:if>
                    <div class="licdogscard" aria-label="Dogs">
                        <h3 class="licdogscard--header h3-font">{dog.data.p_name}</h3>
                        <p>{dog.data.p_birth_date}</p>
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <p>---</p>
            </f:else>
        </f:if>
    </div>
</div>
