/* settings */
@layer cpkmstyles {

   @font-face {
    font-family:  'Oxygen';
    src:          url('../Fonts/Oxygen/Oxygen-Light.woff2') format('woff2');
    font-weight:  300;
    font-style:   normal;
    font-display: swap;
  }

  @font-face {
    font-family:  'Oxygen';
    src:          url('../Fonts/Oxygen/Oxygen-Bold.woff2') format('woff2');
    font-weight:  700;
    font-style:   normal;
    font-display: swap;
  }

  @font-face {
    font-family:  'Oxygen';
    src:          url('../Fonts/Oxygen/Oxygen-Regular.woff2') format('woff2');
    font-weight:  400;
    font-style:   normal;
    font-display: swap;
  }

   :root {
    --ff:                 'Oxygen', 'system-ui', 'sans-serif';
    --ff-condensed:       'UbuntuCondensed';
    --ff-serif:           'Oxygen', 'system-ui', 'sans-serif';
    --ff-h:               'Oxygen', 'system-ui', 'sans-serif';
    --ff-nav:             'Oxygen', 'system-ui', 'sans-serif';
    --ff-mono:            'Nimbus Mono PS', 'Courier New', monospace;
    --ff-symbol:          'Symbols';
  }

}
