<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/Friendsoftypo3/ContentBlocks/ViewHelpers">

<f:asset.css identifier="cpkennelss" href="{cb:assetPath()}/frontend.css" />

<div class="kennellist">
    <f:if condition="{data.header}">
        <f:cObject
            typoscriptObjectPath="tt_content.header"
            data="{data}"
            table="tt_content"
        />
    </f:if>
    <div class="kennels">
        <f:if condition="{kennels}">
            <f:then>
                <f:for as="kennel" each="{kennels}" iteration="ikennels">
                    <div class="kennelcard" id="kennel{kennel.data.uid}" aria-label="Kennels">
                        <h3 class="kennelcard--header h3-font"><span>{kennel.data.k_name}</span>
                            <span>
                                <f:switch expression="{kennel.data.k_variety}">
                                    <f:case value="2">Museau Normal</f:case>
                                    <f:case value="3">Museau Normal</f:case>
                                    <f:case value="4">Face Rase</f:case>
                                    <f:case value="5">Face Rase</f:case>
                                    <f:case value="6">Museau Normal / Face Rase</f:case>
                                    <f:case value="7">Museau Normal / Face Rase</f:case>
                                    <f:defaultCase>not defined</f:defaultCase>
                                </f:switch>
                            </span>
                        </h3>
                        <div class="kennelcard--breeder">
                            <h4><f:translate key="LLL:EXT:cpkm/Resources/Private/Language/locallang.xlf:kennel.breeder"/></h4>
                            {kennel.data.k_first_name} {kennel.data.k_last_name}<br>
                            {kennel.data.k_address -> f:format.nl2br()}
                        </div>
                        <div class="kennelcard--communication">
                            <h4><f:translate key="LLL:EXT:cpkm/Resources/Private/Language/locallang.xlf:kennel.contact"/></h4>
                            <f:if condition="{kennel.data.k_mobile}">
                                <f:link.external uri="tel:{kennel.data.k_mobile}" class="phone-link--icon">{kennel.data.k_mobile}</f:link.external><br>
                            </f:if>
                            <f:if condition="{kennel.data.k_email}">
                                <f:link.email email="{kennel.data.k_email}" class="mail-link--icon">{kennel.data.k_email}</f:link.email><br>
                            </f:if>
                            <f:if condition="{kennel.data.k_web}">
                                <f:link.external uri="{kennel.data.k_web}" target="_blank" class="url-link--icon">{kennel.data.k_web}</f:link.external>
                            </f:if>
                        </div>
                    </div>
                </f:for>
            </f:then>
            <f:else>
                <p><f:translate key="LLL:EXT:cpkm/Resources/Private/Language/locallang.xlf:kennel.no-kennel"/></p>
            </f:else>
        </f:if>
    </div>
</div>
