<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:asset.css identifier="globalcss" href="EXT:cpdevsite/Resources/Public/Css/Layout.css" />
<f:asset.css identifier="cpkm" href="EXT:cpkm/Resources/Public/Css/Layout.css" />

<header class="content-grid">
    <f:render partial="Header" arguments="{_all}"/>
</header>

<main class="content-grid">
    <!--TYPO3SEARCH_begin-->
    <f:render section="Main" />
    <!--TYPO3SEARCH_end-->
</main>

<footer class="content-grid">
    <f:render partial="Footer" arguments="{_all}"/>
</footer>

</html>

