/* Created by Content Blocks */

.kennellist {
  --_clr-accent: var(--clr-brand--primary);
  --_clr-header: var(--clr-bw-090);
  container: kennellist / inline-size;

  .kennels {
    display: grid;
    gap: var(--gutter);
  }

  .kennelcard {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: 1fr;
    @container kennellist (width > 480px) {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
    border: 1px solid var(--_clr-accent);
  }

  .kennelcard > * {
    padding: calc(var(--gutter)/2);
  }

  .kennelcard--header {
    grid-column: 1 / -1;
    color: var(--_clr-header);
    background-color: var(--_clr-accent);
  }

}
